DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=c372_supermarketdb
DB_PORT=3306

PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-secret
PAYPAL_ENVIRONMENT=SANDBOX
PAYPAL_API=https://api-m.sandbox.paypal.com

API_KEY=your-nets-api-key
PROJECT_ID=your-nets-project-id

STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
STRIPE_CURRENCY=SGD

SESSION_SECRET=change-me
